/* font style  */
body{
    font-family: 'Poppins', sans-serif;
}

/* Header Part  */
header{
    background-color: #264653;
}
.button-color{
    background-color: #E76F51;
}
.first-sec-header{
    font-weight: 600;
}
.button-text-color{
    color: white;
}

/* main part  */

main .text-style{
    font-weight: 600;
}

main .text-color{
    color: #E76F51;
}
.gray-scale{
    filter: grayscale(100%);
}
.btn-outline-text{
    border: 1px solid #E76F51;
    color: #E76F51;
}
.fas{
    text-align: center;
}
.filled{
    color: #E76F51;
}
.font-size{
    font-size: 14px;
}




/* media-queries */

@media only screen and (max-width: 576px){
    .img-width{
        width: 100% !important;
    }
    .client-say{
        width: 100% !important;
    }
}
