/* font style  */
body{
    font-family: 'Poppins', sans-serif;
}

/* Header Part  */
header{
    background-color: #264653;
}
.button-color{
    background-color: #E76F51;
}
.first-sec-header{
    font-weight: 600;
}
.button-text-color{
    color: white;
}